<nav class="nav navbar row m-0 mx-5 my-2">
    <a href="/" class="col-2"><img src="./../../../assets/images/logo.png" alt="logo" class="logo p-0"></a>
    <div class="header col-5 p-0">
        <h3 class="title text-capitalize text-info fw-normal m-0">employee directory</h3>
        <p class="header-para text-capitalize">the ultimate people directory experience</p>
    </div>
    <div class="user col-5 d-flex justify-content-end align-items-end p-0">
        <h3 class="user-text text-capitalize fw-light px-2 fs-4 m-0" [class.bn]="mobileView"><span class="welcome text-info">welcome, </span>{{name}}</h3>
        <img src="./../../../assets/images/user-logo.png" alt="user logo" class="user-logo">
    </div>
</nav>