@model Auth.Models.LoginViewModel


<style>
    .login-page {
        background-color: white;
        border-radius: 8px;
        border: 1px solid #ccc;
    }
	.external-login{
        border:none;
        border-radius:5px;
    }
    .external-login:focus{
        border:none;
    }
    .facebook{
        background-color: #3b5999;
    }

	.external-auth>.external-login:nth-child(1) {
        background-color: #3b5999;
    }

    .external-auth > .external-login:nth-child(2) {
        background-color: #dc3545;
    }
</style>
<div class="login-page p-4">
    <div class="page-header">
        <h2 class="text-center">Login</h2>
    </div>
	
    <partial name="_ValidationSummary" />
	
    <form asp-route="Login">
        <div class="form-floating mb-3">
            <label asp-for="UserName"></label>
            <input type="text" class="form-control" placeholder="Enter your User Name" asp-for="UserName" autofocus>
        </div>
        <div class="form-floating mb-3">
            <label asp-for="Password"></label>
            <input type="password" class="form-control" placeholder="Enter a password" asp-for="Password" autocomplete="off">
        </div>
        <button class="btn btn-primary col-12 my-2" name="button" value="login">Login</button>
    </form>
    <p class="text-center text-secondary py-2">Not Registered? <a href="Register" class="text-decoration-none">Register</a></p>
    <p class="text-center">Or</p>
    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-ReturnUrl="@Model.ReturnUrl" method="post">
        <div class="d-flex justify-content-between external-auth">
        @foreach (var provider in Model.ExternalProviders)
        {
            <button class="external-login text-center text-white fw-bold p-2 text-capitalize" name="provider" value="@provider.Name" type="submit">
                    @{
                        if(provider.Name=="Facebook")
                        {
                            <i class="bi bi-facebook p-1"></i>
                        }
                        else
                        {
                            <i class="bi bi-google p-1"></i>
                        }
                    }
                continue with @provider.Name
            </button>
        }
        </div>
    </form>
</div>