<ng-container *ngIf="isAuthenticated then body else auth">

</ng-container>


<ng-template #auth>
    <app-auth></app-auth>
</ng-template>

<ng-template #body>
    <app-header *ngIf="!mobileView"></app-header> <!-- App Header-->
    <nav class="pt-2 br pb-3" *ngIf="mobileView">
        <!--Nav bar mobile UI-->
        <div class="d-flex justify-content-center px-2">
            <span (click)="open(content)"><i class="bi bi-list nav-icons text-secondary"></i></span>
            <input type="text" class="search-input mx-3 my-auto pe-lg-5 pe-4" placeholder="Enter any keyword"
                [(ngModel)]="searchInput" (input)="search()">
            <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
                aria-label="Toggle navigation" (click)="collapsed=!collapsed">
                <span class="p-2"><i class="bi bi-filter text-secondary nav-icons" *ngIf="collapsed"></i><i
                        class="bi bi-x-lg text-secondary nav-icons" *ngIf="!collapsed"></i></span>
            </button>
        </div>
        <div class="navbar-collapse filter-nav py-3 px-5" [class.collapse]="collapsed" id="navbarContent">
            <!-- Filter mobile UI-->
            <app-search-bar *ngIf="mobileView"></app-search-bar>
        </div>
    </nav>
    <main [ngClass]="{'mx-5 my-4 row':!mobileView,'m-0 pb-5 px-1':mobileView,'d-none':!collapsed}">
        <!-- Main content-->
        <div class="py-3 pe-2 d-flex justify-content-end">
            <!-- add employee mobile UI-->
            <a href="#" class="add-employee text-capitalize text-decoration-none text-white p-2"
                (click)="openEnd(addEmployee)" *ngIf="mobileView">add employee</a>
        </div>
        <div class="col-lg-2" *ngIf="!mobileView">
            <!--filters desktop-->
            <app-filters *ngFor="let f of filters" [filter]="f[1]" [title]="f[0]"></app-filters>
        </div>
        <div [ngClass]="{'col-lg-10':!mobileView,'d-flex':mobileView}">
            <!-- search and employees desktop-->
            <app-search-bar *ngIf="!mobileView"></app-search-bar>
            <app-employees class="employees"
                [ngClass]="{'employees row flex-row align-content-start mx-0 px-3 pt-3 justify-conetnt-lg-evenly':!mobileView,'col-11':mobileView}">
            </app-employees>
            <ul class="search-alphabets p-0 col-1 me-1" *ngIf="mobileView">
                <li *ngFor="let i of alphabets" class="search-alphabets-li list-group-item"><a href="#"
                        class="search-alphabets-li-a text-decoration-none text-capitalize"
                        (click)="searchByAlphabets(i)">{{i}}</a></li>
                <li class="search-alphabets-li list-group-item"><a href="#"
                        class="search-alphabets-li-a text-decoration-none text-capitalize" (click)="showEmployees()">#</a>
                </li>
            </ul>
        </div>
    </main>
    <div class="mobile-footer position-fixed  bottom-0 start-0 d-flex justify-content-around ps-5 py-1" *ngIf="mobileView">
        <!--footer mobile UI-->
        <div class="col-3"><a href="/"><span class="text-primary footer-elements fs-3"><i
                        class="fa-solid fa-house-chimney"></i></span></a></div>
        <div class="col-3"><span class="text-secondary footer-elements fs-3"><i class="fa-solid fa-user"></i></span></div>
        <div class="col-3"><span class="text-secondary footer-elements fs-3"><i class="fa-solid fa-users"></i></span></div>
    </div>

</ng-template>
<!-- Mobile UI -->
<ng-template #content let-offcanvas> <!--sidenav mobile UI-->
    <div class="offcanvas-body px-4">
        <div class="d-flex pb-4">
            <div class="col-9">
                <p class="text-capitalize text-primary text-darker mb-0">welcome,</p>
                <p class="text-capitalize text-darker mb-0">andrew philips</p>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-end">
                <img src="./../../../assets/images/user-logo.png" alt="user logo" class="user-logo">
            </div>
        </div>
        <app-filters *ngFor="let f of filters" [filter]="f[1]" [title]="f[0]"></app-filters>
        <div class="mt-5 pt-3 px-3">
            <a href="/" class=""><img src="./../../../assets/images/logo.png" alt="logo" class="logo p-0 mb-3"></a>
            <p class="title text-capitalize text-info fw-normal m-0">employee directory</p>
        </div>
    </div>
</ng-template>
<!-- Mobile UI end -->

<ng-template #addEmployee let-offcanvas> <!--sidenav add employee mobile UI -->
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvas-basic-title">Add Employee</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
        <app-employee-details></app-employee-details>
    </div>
</ng-template>

<router-outlet></router-outlet>