.employees{
    border: 1px solid rgba(1,1,1,0.2);
    box-sizing: content-box;
    height:50vh;
}
.add-employee{
    background-color: rgba(0,176,253,255);
    font-size:small;
}
/* Mobile UI */
.mobile-footer{
    background-color: rgba(232,232,232) !important;
    width:100%;
}
.navbar{
    margin:0 !important;
}
.user-logo{
    height:45px;
    width:45px;
    border:1px solid;
}
.text-darker{
    font-size:1.1rem;
    text-shadow: 0 0.01rem;
}
.bn{
    border:none !important;
}
.sidenav{
    max-width: 50% !important;
}
.br{
    border-bottom: 1px solid rgba(1,1,1,0.1);;
}
.set-width{
   width:100%;
}
.filter-nav{
    height: 100% !important;
    z-index: index 1030;
}
.nav-icons{
    font-size:2rem;
}
.search-bar>select{
    -webkit-appearance:none; /* Safari and Chrome */
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position:9rem 0.2rem;
}
.search-input{
    background: url('./../assets/images/search-icon.svg');
    background-size:1rem;
    background-position:0.4rem 0.5rem;
    background-repeat: no-repeat;
    padding-left:2rem;
    border:1px solid rgba(1,1,1,0.3);
    height:2.1rem;
}
::-webkit-input-placeholder{
    color: rgba(1,1,1,0.6);
}

.search-alphabets-li{
    text-align: center;
}
.search-alphabets-li-a:hover{
    color:rgba(0,176,253,255) !important;
    font-size:large !important;
}
.search-alphabets-li-a{
    font-size:smaller;
    color: rgba(1,1,1,0.7) !important;
}

    