<div class="auth my-5 col-lg-6 p-3 mx-auto">
    <p class="fs-3 fw-bold text-capitalize">welcome!</p>
    <p class="fs-6 fw-bold text-capitalize">login or register to continue</p>
    <div class="auth__buttons d-flex justify-content-between">
        <button class="btn btn-primary col me-1 text-capitalize fw-bold" (click)="login()">login</button>
        <button class="btn btn-primary col ms-1 text-capitalize fw-bold text-white decoration-none" (click)="register()">Register</button>
    </div>
</div>
<div class="my-5 col-lg-6 p-3 mx-auto">
    <p>Test User Credentials:</p>
    <p><span class="fw-bold">Username:</span> test</p>
    <p><span class="fw-bold">Password:</span> User&2023</p>
    <p class="py-2"><span class="fw-bold">Note: </span>This website has been on Azure's free infrastructure plan, so it might take a moment or two to load content.</p>
</div>