<div class="auth my-5 col-lg-6 p-3 mx-auto">
    <p class="fs-5 fw-bold text-capitalize">welcome to address book, the ultimate employee directory</p>
    <p class="fs-6 fw-bold text-capitalize">login or register to continue</p>
    <div class="auth__buttons d-flex justify-content-between">
        <button class="btn btn-primary col me-1 text-capitalize fw-bold" (click)="login()">login</button>
        <button class="btn btn-primary col ms-1 text-capitalize fw-bold"><a [href]="register" class="text-white text-decoration-none">Register</a></button>
    </div>
</div>